<?xml version="1.0" encoding="UTF-8"?>
<logger name="log4jdbc.log4j2" level="error" additivity="false">
	<appender-ref ref="Console" />
</logger>
<Logger name="jdbc.sqlonly" level="off" />
<Logger name="jdbc.sqltiming" level="info" />
<Logger name="jdbc.audit" level="off" />
<Logger name="jdbc.resultset" level="off" />
<Logger name="jdbc.resultsettable" level="info" />
<Logger name="jdbc.connection" level="off" />

